.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.menu-container {
    background-color: #0e3d61;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-bottom: 1px solid #cdcdcd;
}

.pantalla-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll  ;
}

.pantalla-area-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.area-trabajo-container {
    flex: 1;
}

.footer-container {
    display: flex;
    border-top: 1px solid #cdcdcd;
    padding: 5px;
}

.footer-container span {
    flex: 1;
    display: flex;
}

.app-name {
    text-transform: capitalize;
}

.version-name {
    justify-content: flex-end;
}

.jumbotron {
    font-size: 25px;
    font-weight: bold;
}

.text-indicacion {
    font-size: 16px;
    color: #cdcdcd;
}
.titulos {
    font-size: 16px;
    font-weight: bold;
    color: #ededed;
}
.titulos-centrado {
    font-size: 16px;
    font-weight: bold;
    color: #ededed;
    text-align: center;
}


.login-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-top: 15%;
}

.hidden {
    display: none;
}





.message-error {
    border: 1px solid #f00;
    background: #fcc2c2;
    color: #962727;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    width: -webkit-fill-available;
    white-space: pre-wrap;
}



.modal-content {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #bdd9f0;
    background: #17629c;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(25,65,99,0.75);
    z-index: 1000;
}


.registro-foto {
    text-align: center;
}


.buscador-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px dotted #f3f3f3;
    margin-bottom: 10px;
}



/*************/
/** overrides style for searcher **/
.cqaNcS { /* menu with options */
    max-height: 100px;
}
.bPcRQP {
    margin: 0px 5px;

}

.sc-bxivhb {
    border: 1px solid #0a2b45;
    border-radius: 15px;
    background-color: #dedede;
}

.iRISHI span {
    font-size: 1em;
    color: #0e3d61;
}

.sc-EHOje {
    width: -webkit-fill-available;
    background: #dedede;
    padding: 0px;
    margin: 0px;
    border: 1px solid #454545;
}

.sc-EHOje li {
    border: 0px;
    border-radius: 0px;
}

.LBGII {
    border-bottom: 1px solid #adadad !important;
    padding: 5px
}


/* OVERRIDES style for datepicjer */
.react-date-picker__wrapper {
    border: 0px;
}


