.calendario-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5px;
}

.calendario-dias-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.calendario-semana-container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.calendario-dia {
    flex: 1;
}

/** para las citas **/
.cita-espera {
    border-top: 5px solid #327ab4;
}

.cita-atendida {
    border-top: 5px solid #208748;
}

.cita-cancelada {
    border-top: 5px solid #9a9a9a;
}

.cita-falta {
    border-top: 5px solid #f00;
}



/* */

.rbc-toolbar button {
    color: #66afe8;
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
    color: #208748;
}

.rbc-today {
    background-color: #66afe8;
}

.rbc-event {
    background-color: #a5c8e4;
    color: #0066b4;
    border: 1px solid #0066b4;
    padding: 2px;
}

.rbc-day-slot .rbc-event {
    border: 1px solid #0066b4;
}

.rbc-show-more {
    color: #66afe8;
    padding-left: 5px;
}

.rbc-show-more {
    background: none;
}

.rbc-off-range-bg {
    background: #3e6583;
}

.rbc-event.rbc-selected {
    background-color: #a5c8e4;
}


.rbc-day-slot .rbc-time-slot {
    border-top: 1px dotted #c7c7c7;
}

.rbc-time-content > * + * > * {
    border-left: 1px dotted #c7c7c7;
}

.rbc-date-cell {
    font-size: 2em;
}
