.expediente-container {
    padding: 10px;
}

.expediente-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px dotted #9a9afa;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.paciente-data {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.expediente-title-nombre {
    font-size: 1.7em;
}

.expediente-title-expediente {
    font-weight: bold;
}

.expediente-title-alertas {
    font-weight: bold;
    border: 1px solid #f00;
    background-color: #760101;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    font-size: 1em;
    margin-top: 5px;
}


.expediente-trabajo {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-top: 10px;
}

.expediente-items {
    flex: 1;
    margin-right: 10px;
}

.expediente-items button {
    text-align: left;
    margin: 5px 0px 5px 0px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #afdbff;
    width: 100%;
    color: #bfe0fc;
    cursor: pointer;
}

.expediente-area {
    flex: 2;
    margin-left: 10px;
}

.expediente-panel {
    margin-bottom: 20px;
    border-bottom: 1px solid #dedede;
    border-right: 2px dotted #dedede;
    padding: 5px;
}


.expediente-deuda {
    text-align: right;
    color: #d48e8e;
}

.expediente-pago {
    text-align: right;
    color: #75ee75;
}

.expediente-saldo {
    text-align: right;
    color: #dedede;
}

.expedientes-titulo-lista {
    font-weight: bold;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 10px;
}

.expedientes-contenedor-lista {
    height: 30vh;
    overflow: auto;
    margin-bottom: 15px;
    border-bottom: 1px solid #dedede;
    border-right: 2px dotted #dedede;
}


.linear-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}