input, select, textarea,  .inputs {
    margin: 0px 5px 10px 5px;
    padding: 5px 15px;
    border: 1px solid #0a2b45;
    border-radius: 15px;
    font-size: 0.9em;
    width: -webkit-fill-available;
    outline: none;
    background-color: #dedede;
    color: #0a2b45;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.inputs-disabled {
    background-color: #9a9a9a;
}

select {
    height: 30px;
    background-color: #dedede;
}

label {
    margin: 0px 5px 0px 5px;
}

.divinput {
    margin: 0px 5px 10px 5px;
    padding: 5px 15px;
    border: 1px solid #0a2b45;
    border-radius: 15px;
    font-size: 0.9em;
    width: -webkit-fill-available;
    outline: none;
    background-color: #dedede;
    color: #0a2b45;
}

#userfile {
    display: none;
}

.big-button {
    background: #0e3d61;
    color: #fff;
    border: 1px solid #0a2b45;
    border-radius: 15px;
    padding: 5px;
    margin: 10px 5px 10px 5px;
    font-weight: bold;
    width: -webkit-fill-available;
}
.big-button-disabled {
    background: #4a5453;
    color: #99b0ad;
    border: 1px solid #495c59;
    border-radius: 15px;
    padding: 5px;
    margin: 10px 5px 10px 5px;
    font-weight: bold;
    width: -webkit-fill-available;
}


.edicion-container {
    background-color: #0e3d61;
    display: flex;
    flex-direction: column;
    margin: 0px 10px 10px 10px;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 10px;
}

.edicion-form {
    display: flex;
    flex-direction: column;
}

.edicion-pacientes-generales {
    display: flex;
    flex-direction: row;
}

.pacientes-foto {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.pacientes-datos {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.paciente-foto {
    width: 200px;
}


.formulario-dinamico {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form-row > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}