

.menu-brand {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.menu-nav {
    display: flex;
    flex: 2;
    justify-content: center;
}

.menu-profile {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu-item {
    padding: 10px;
    margin: 0px 5px;
    border: 0;
    cursor: pointer;
    background-color: #0a2b45;
    color: #85c9ff;
    font-size: 1em;
}

.menu-item-selected {
    background-color: #1d78bf;
    color: #031d33;
}

.menu-contextual {
    background-color: #84d1cb;
    border: 1px solid #0c3633;
    color: #0c3633;
    position: absolute;
    top: 35px;
    right: 1px;
    padding: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-seccion {
    margin: 5px 10px 10px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.menu-seccion-encabezado {
    flex: 1;
    font-size: 1.5em;
    font-weight: bold;
}
.menu-seccion-item {
    padding: 5px;
    margin: 5px;
    border: 0px;
    padding-top: 25px;
    background: transparent;
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #dedede;
    font-weight: bold;
}


.action-button-container {
    display: flex;
    justify-content: flex-end;
    margin: 0px 10px;
}

.action-button-container button {
    margin: 0px 0px 5px 5px;
    border: 1px solid #66a1d1;
    border-radius: 4px;
    padding-left: 25px;
    height: 25px;
    background-color: #0a2b45;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.button-inline {
    background: transparent;
    border: 0px;
    padding: 0px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.bottom-button-container {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #a9a9a9;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bottom-button-container button {
    margin: 0px 0px 5px 5px;
    border: 1px solid #66a1d1;
    border-radius: 5px;
    padding-left: 25px;
    height: 30px;
    background-color: #0a2b45;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.bottom-button-container .button-atender {
    background-color: #208748;
}
.bottom-button-container .button-cancelar {
    background-color: #9a9a9a;
}
.bottom-button-container .button-faltar {
    background-color: #f00;
}



.button-add {
    background-image: url(icons/plus-circle.png);
}
.button-list {
    background-image: url(icons/format-list-bulleted-square.png);
}
.button-save {
    background-image: url(icons/content-save.png);
}
.button-user {
    background-image: url(icons/account-circle.png);
}
.button-edit {
    background-image: url(icons/file-document-edit.png);
}
.button-expediente {
    background-image: url(icons/text-box-multiple.png);
}
.button-calendario {
    background-image: url(icons/calendar-month.png);
}
.button-pagos {
    background-image: url(icons/cash-usd.png);
}
.button-cancel {
    background-image: url(icons/close-circle.png);
}
.button-delete {
    background-image: url(icons/trash-can.png);
}
.button-search {
    background-image: url(icons/magnify.png);
}
.button-cita-check {
    background-image: url(icons/account-check.png);
}
.button-cita-cancela {
    background-image: url(icons/account-cancel.png);
}
.button-cita-falta {
    background-image: url(icons/account-remove.png);
}

/*





.menu-seccion-item-textual {
    padding: 0px;
    margin: 5px;
    border: 0px;
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}



.menu-contextual > .menu-profile {
    font-weight: bold;
    border-bottom: #6d9c98 1px solid;
    width: 100%;
}

.menu-seccion-item-add {
    background-image: url(icons/plus-circle.png);
}
.menu-seccion-item-list {
    background-image: url(icons/format-list-bulleted-square.png);
}
.menu-seccion-item-save {
    background-image: url(icons/content-save.png);
}
.menu-seccion-item-user {
    background-image: url(icons/account-circle.png);
}


.button-edit {
    background-image: url(icons/file-document-edit.png);
}
.button-expediente {
    background-image: url(icons/text-box-multiple.png);
}
.button-calendario {
    background-image: url(icons/calendar-month.png);
}
.button-pagos {
    background-image: url(icons/cash-usd.png);
}


*/