.presupuesto-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.presupuesto-container .presupuesto-tabla {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 10px;
    padding: 5px;
    border-top: 1px dotted #dedede;;
}

.presupuesto-container .presupuesto-tabla .presupuesto-concepto {
    flex: 4;
    justify-content: center;
    align-items: center;
}

.presupuesto-container .presupuesto-tabla .presupuesto-cantidad {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.presupuesto-items {
    width: 100%;
    border-collapse: collapse;
    background-color: #1d78bf;
}

.presupuesto-items th {
    border: 1px dotted #dedede;
    padding: 5px;
}
.presupuesto-items td {
    border: 1px dotted #dedede;
    padding: 5px
}

.presupuesto-items .presupuesto-items-concepto {
    width: 40%;
}

.presupuesto-items .presupuesto-items-cantidades {
    width: 15%;
}

.presupuesto-items .presupuesto-items-numeros {
    text-align: right;
}