.tabla-datos-container {
    margin: 0px 10px 10px 10px;
}

.tabla-datos {
    width: 100%;
    border-collapse: collapse;
}

.tabla-datos thead tr {
    background-color: #0a2b45;
    color: #c9c9c9;
}

.tabla-datos thead tr th {
    padding: 10px;
    border-right: 3px solid #85c9ff;
    border-bottom: 3px solid #85c9ff;
    border-top: 3px solid #85c9ff;
}

.tabla-datos thead tr th:first-child {
    border-left: 3px solid #85c9ff;
    text-align: center;
}

.tabla-datos tbody tr td {
    padding: 5px;
    border-right: 3px solid #85c9ff;
    border-bottom: 3px solid #85c9ff;
    vertical-align: center;
}

.tabla-datos tbody tr td {
    border-left: 3px solid #85c9ff;
}

.tabla-datos .dato-principal {
    font-weight: bold;
}

.tabla-datos .dato-secundario {
    color: #c7e5ff;
}

.foto-listado {
    width: 150px;
}

.registro-foto {
    width: 160px;
}

.registro-small {
    width: 150px;
}

.tabla-datos .tools-container {
    display: flex;
    justify-content: center;
}